<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30" strict="true">
    <Appenders>
        <RollingFile name="RollingFile" fileName="../logs/app.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <!-- 				<TimeBasedTriggeringPolicy /> -->
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        <RollingFile name="RollingFileTicket" fileName="../logs/TicketLog.log"
                     filePattern="logs/$${date:yyyy-MM}/TicketLog-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <!-- 				<TimeBasedTriggeringPolicy /> -->
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="RollingFile" />
        </Root>
        <Logger name="nfiscal.Ticket" level="TRACE" additivity="false">
            <AppenderRef ref="RollingFileTicket" />
        </Logger>
    </Loggers>
</Configuration>